body {
  padding: 0;
  margin: 0;
  background: #211F1F;
}

/*--- navigation bar ---*/
.navbar {
  background:#3986C3;
  height: 100px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  padding: 0 0px;
  height: 80px;
  line-height: 80px;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggle {
 /* (80px - button height 34px) / 2 = 23px */
 margin-top: 23px;
 padding: 9px 10px !important;
}

@media (min-width: 768px) {
 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   padding-top: 26.5px;
   padding-bottom: 26.5px;
   line-height: 27px;
 }


/*---  button ---*/

/* .btn-group{
    height:40px;
    width:100px;
    margin: 30px -10px;
    position:relative;
    top:1%;
    left:700%;
} */

#InundYearButtons {
  height:40px;
  width:100px;
  margin: 30px 150px;
  position:relative;
  /* top:52%; */
  /* left:-1700%; */
}

#InundAmountButtons{
  height:40px;
  width:100px;
  margin: 17px 100px;
  position:relative;
  top:1%;
  left:50%;
  /* padding: 15 15px; */
}


/*---  divs ---*/
#map {
  height: 625px;
  width: 700px;
  margin: 20px -110px;
  position:relative;
  padding: 50px;
  /* background-color: #606C74;
  border-radius: 15px; */
}

#TextDesc{
  width: 950px;
  height: 500px;
  margin: 20px 70px;
  position: absolute;
  left:825px;
  float: right;
  font-size:13.5px;
  /* background-color: green;
  border-radius: 15px; */
}

#legends{
  height:250px;
  width:800px;
  margin: 10px -125px;
  position:relative;
  top:0%;
  background-color:#606C74;
  /* border-radius: 15px; */
  /* left:500%;
  padding: 15 15px; */
}

#ProjDev{
  width: 500px;
  height: 400px;
  margin: -125px 0px;
  position: relative;
  left:150px;
  float: right;
}

#InundByYear{
  width: 400px;
  height: 600px;
  margin: 0px 70px;
  position: relative;
  left:-100px;
}

#InundByDay{
  width: 400px;
  height: 600px;
  margin: -100px 70px;
  position: absolute;
  left:375px;
  float: right;
}

#InundByText{
  width: 100px;
  height: 20px;
  margin: 0px 0px;
  position: relative;
  left:375px;
  float: right;
  /* top: 100px; */
}
