body {
  padding: 0;
  margin: 0;
  background: #211F1F;
}

/*--- navigation bar ---*/
.navbar {
  background:#3986C3;
  height: 100px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  padding: 0 0px;
  height: 80px;
  line-height: 80px;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggle {
 /* (80px - button height 34px) / 2 = 23px */
 margin-top: 23px;
 padding: 9px 10px !important;
}

@media (min-width: 768px) {
 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   padding-top: 26.5px;
   padding-bottom: 26.5px;
   line-height: 27px;
 }


/*---  button ---*/

/* .btn-group{
    height:40px;
    width:100px;
    margin: 30px -10px;
    position:relative;
    top:1%;
    left:700%;
} */

#InundYearButtons {
  height:40px;
  width:100px;
  margin: 30px 150px;
  position:relative;
  /* top:52%; */
  /* left:-1700%; */
}

#InundAmountButtons{
  height:40px;
  width:100px;
  margin: 17px 100px;
  position:relative;
  top:1%;
  left:50%;
  /* padding: 15 15px; */
}


/*---  divs ---*/
#map {
  height: 625px;
  width: 700px;
  margin: 20px -110px;
  position:relative;
  padding: 50px;
}

/* #map {
  height: 625px;
  width: 100%;
  margin: 2% -10%;
  position:relative;
} */


#TextDesc{
  width: 950px;
  height: 500px;
  margin: 20px 70px;
  position: absolute;
  left:825px;
  float: right;
  font-size:13.5px;
  /* background-color: green;
  border-radius: 15px; */
}

#legends{
  height:250px;
  width:800px;
  margin: 10px -125px;
  position:relative;
  top:0%;
  background-color:#606C74;
  /* border-radius: 15px; */
  /* left:500%;
  padding: 15 15px; */
}

#ProjDev{
  width: 500px;
  height: 410px;
  margin: -125px 0px;
  position: relative;
  left:150px;
  float: right;
}

#InundByYear{
  width: 600;
  height: 500;
  margin: 0px 70px;
  position: relative;
  left:-100px;
}

#InundByDay{
  width: 700px;
  height: 450px;
  margin: -100px 70px;
  position: absolute;
  left:375px;
  float: right;
}

#InundByText{
  width: 100px;
  height: 20px;
  margin: 0px 0px;
  position: relative;
  left:375px;
  float: right;
  /* top: 100px; */
}

#legend_title{
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif;
  fill: white;
}

#legend_labels{
  font-family: sans-serif;
  font-size: 13px;
  fill: white;
}

#legend_name{
  font-size: 16px;
  fill: white;
}

#reference_title{
  color: #C5C5C5;
  margin-top: -30px;
  padding-left: 50px;
  font-size: 18px;
}


/* Change screen sizes */
/* Media Queries*/
@media screen and (max-width: 1500px) {

  #map{ height: 525px;
    width: 600px;
    margin: 10px -55px;
  }

  #TextDesc > h4 {
    font-size:17.5px;
  }

    #TextDesc > p {
      width: 450px;
      height: 300px;
      margin: 10px 35px;
      position: absolute;
      left:-30px;
      float: right;
      font-size:12px;
      color:#C5C5C5;
    }

    #legends{
      height:230px;
      width:775px;
      margin: 10px -60px;
      position:relative;
      top:0%;
      background-color:#606C74;
    }

    #svg1 {
      width: 150px;
      height: 150px;
    }

    #svg2 {
      width: 150px;
      height: 150px;
    }

    #svg3 {
      width: 150px;
      height: 150px;
    }

    #svg4 {
      width: 150px;
      height: 150px;
    }

    #rect{
      height:19px;
      width:22px;
      transform: translateY(-10px);
    }

    /* #rect1{
      transform: translateY(2px);
    } */

    #legend_name{
      font-size: 14px;
      fill: white;
    }


    #legend_title {
      font-weight: bold;
      font-size: 12px;
      font-family: sans-serif;
      fill: white;
      transform: translateY(-2px);
    }

    #legend_labels{
      font-family: sans-serif;
      font-size: 10px;
      fill: white;
      transform: translateY(-13px);
    }

    #ProjDev{
      height:350px;
      width:150px;
      margin: -345px 550px;
      position: relative;
      left:150px;
      float: right;
    }

    #reference_title{
      color: #C5C5C5;
      margin-top: 20px;
      padding-left: 50px;
      font-size: 18px;
    }

}

@media screen and (max-width: 1330px) {
  #map{ height: 475px;
    width: 100px;
    margin: 10px -40px;
  }

  #TextDesc > h4 {
    font-size:16px;
  }

    #TextDesc > p {
      width: 450px;
      height: 350px;
      margin: 10px 35px;
      position: absolute;
      left:-130px;
      float: right;
      font-size:11px;
      color:#C5C5C5;
    }

    #ProjDev{
      height:325px;
      width:50px;
      margin: -345px 550px;
      position: relative;
      left:175px;
      float: right;
    }

    #legends{
      height:230px;
      width:700px;
      margin: 10px 0px;
      position:relative;
      top:0%;
      background-color:#606C74;
    }

    #reference_title{
      color: #C5C5C5;
      margin-top: 20px;
      padding-left: 50px;
      font-size: 18px;
    }
}


@media screen and (max-width: 1230px) {
  #map{ height: 475px;
    width: 100px;
    margin: 10px -40px;
  }

  #TextDesc > h4 {
    font-size:16px;
  }

    #TextDesc > p {
      width: 450px;
      height: 350px;
      margin: 10px 35px;
      position: absolute;
      left:-200px;
      float: right;
      font-size:11px;
      color:#C5C5C5;
    }

    #ProjDev{
      height:325px;
      width:50px;
      margin: -345px 550px;
      position: relative;
      left:75px;
      float: right;
    }

    #legends{
      height:230px;
      width:660px;
      margin: 10px -45px;
      position:relative;
      top:0%;
      background-color:#606C74;
    }

    #InundByYear{
      width: 600px;
      height: 400px;
      margin: 0px 70px;
      position: relative;
      left:-100px;
    }

    #InundByDay{
      width: 400px;
      height: 300px;
      margin: -100px 70px;
      position: absolute;
      left:225px;
      float: right;
    }

    #reference_title{
      color: #C5C5C5;
      margin-top: 20px;
      padding-left: 50px;
      font-size: 18px;
    }
}


@media screen and (max-width: 1200px) {

#reference_title{
  color: #C5C5C5;
  margin-top: 120px;
  padding-left: 50px;
  font-size: 18px;
  }
}
